{{ define "main" }}

<section class="site-locations-single-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="site-locations-single">
          <h1>
            {{ .Title }}
          </h1>
          <div class="site-locations-single-description">
            {{ .Content }}
          </div>
          <div class="site-locations-single-image">
            {{ range .Params.location_images }}
            <img src="{{ . | absURL }}" alt="location image">
            {{ end }}
          </div>
          <!-- Calendly inline widget begin -->
          <div class="calendly-inline-widget" 
            data-url="https://calendly.com/janeiroentertainmentgroupllc/wynwoodgallery?hide_event_type_details=1&hide_gdpr_banner=1" 
            style="min-width:320px;height:700px;">
          </div>
          <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
          <!-- Calendly inline widget end -->
          {{ if .NextInSection }}
          <div class="site-locations-single-action">
            <a href="{{.NextInSection.Permalink}}">
              <span class="link-area">
                <span data-text="Next Location">
                  Next Location
                </span>
              </span>
              <img src="{{ "images/to-top.svg" | absURL }}" alt="next location">
            </a>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>

{{ partial "call-to-action.html" . }}

{{ end }}